body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
* { box-sizing: border-box;
}
h1 {
  visibility: hidden;
  display: none;
}
h3 {
  font-size: 48px;
  line-height: 140%;
  margin: 0;
}
h2 {
  margin: 0;
  font-size: 64px;
  line-height: 121%;
}
h4 {
  font-size: 24px;
  line-height: 140%;
  margin: 0;
}
p {
  font-size: 18px;
  line-height: 140%;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
svg {
  transition: fill .25s linear;
}
textarea {
  resize: none;
  height: 117px;
}
input {
  outline: none;
  border-radius: 8px;
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  height: 60px;
  transition: all 0.3s linear;
  padding: 17px 502px 18px 20px;
}
input:active {
  background-color: #ffffff;
  border-color: #000000;
}
input:focus {
  background-color:#ffffff;
  border-color:#000000;
}
textarea {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  transition: all 0.3s linear;
}
textarea:active {
  background-color: #ffffff;
  border-color: #000000;
}
textarea:focus {
  background-color:#ffffff;
  border-color:#000000;
}
.container {
  max-width: 1480px;
  width: 100%;
  margin: auto;
  padding: 0 20px 0 20px;
} 
.btn {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  line-height: 60px;
  font-size: 18px;
  font-weight: bold;
  padding: 0 35px 0 35px;
  border: none;
  outline: none;
  background-color: #1B99B4;
  border-radius: 30px 5px 30px 5px;
  cursor: pointer;
  transition: all 0.25s linear;
}
.btn:hover {
 border-radius: 5px 30px 5px 30px;
 
}
/*Глобальные стили окончены */


.logo {
  display: flex;
  justify-content: space-around;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation ul {
  display: flex;
}
.navigation li {
  margin-right: 75px;
}
.navigation li:last-child {
margin: 0;
}
 .main-section {
  
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1330px;
  color: #fff;
  padding: 276px 0 40px 0;
  position: relative;
  background-position-y: bottom;
}
.main-wrapp {
  max-width: 637px;
  width: 100%;
  position: relative;
}
.main-wrapp .jakor {
  visibility: hidden;
  display: none;
}
.main-wrapp h2::before {
  content: "";    
  display: block;   
  width: 80px;
  height: 8px;
  background-color: #181F22;
  background-image: url(../img/border.png); 
  margin-bottom: 26px;
}
.main-wrapp p {
  font-size: 24px;
  line-height: 160%;
  margin-top: 60px;
}
header {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.bg {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.solutions {
  outline: 1px solid;
  position: relative;
}

.solutions::before {
  content: "";
  transform: rotate(-7.63deg);
  position: absolute;
  top: -125px;
  left: -50%;
  right: -50%;
  height: 250px;
  background-color: rgb(226, 19, 181);
  
}
.solutions::after {
  content: "";
  transform: rotate(-7.63deg);
  position: absolute;
  bottom: -125px;
  left: -50%;
  right: -50%;
  height: 250px;
  background-color: rgb(226, 19, 181);
}
.solutions .container {
  position: relative;
  outline: 1px solid;
  padding: 350px 0 350px 0;
}
.solutions-wrapp h3 {
  text-align: center;
  margin-bottom: 90px;
}
.take-solutions {
  display: flex;
  justify-content: space-around;
}
.take-solutions li {
  max-width: 300px;
}
.take-solutions img {
  margin-bottom: 30px;
}
.take-solutions h4 {
  margin-bottom: 20px;
}
.answer ul {
  display: flex;
}
.answer li {
  display: flex;
  align-items: center;
}
.choose {
  position: relative;
}
.choose .section {
  padding: 175px 0 175px 0;
  background-color: #181F22;
  color: #ffffff;
}
.terms .btn {
  padding: 0 96px 0 96px;
}
.choose .choose-wrap {
display: flex;
justify-content: space-around;
}
.answer ul {
  display: block;
}
.answer li {
  margin-bottom: 75px;
}
.answer li:last-child{
  margin-bottom: 0;
}
.us h3 {
  margin-bottom: 65px;
}
.us h3::before {
  content: "";    
  display: block;   
  width: 80px;
  height: 8px;
  background-color: #181F22;
  background-image: url(../img/border.png); 
  margin-bottom: 26px;
}

.answer li b {
  margin-right: 80px;
  font-size: 48px;
  line-height: 15%;
  width: 77px;
  text-align: center;
}
.answer li b::before {
  content: "";    
  display: block;   
  width: 23px;
  height: 30px;
  background-color: #181F22;  
  background-image: url(../img/vector.png);
  margin-left: auto;
}
.answer li b::after {
  content: "";    
  display: block;   
  width: 23px;
  height: 30px;
  background-color: #181F22; 
  background-image: url(../img/beforevector.png);
  margin-right: auto;
}
.answer li p {
  max-width: 400px;
  margin-top: 15px;
}
.man .container {
  background-color: #181F22;
  color: #ffffff;
  background-image: url(../img/imgman.png);
  background-repeat:no-repeat ;
  background-size: cover;
}
.director-wrapp {
  padding: 320px 0 150px 0;
}
.director-wrapp .his {
  display: flex;
  justify-content: center;
  align-items: center;
}
.his .director {
  margin-left: 80px;
}
.director strong {
  font-size: 36px;
  line-height: 140%;
}
.director .ceo {
  margin-top: 10px;
  color: #1DB5D6;
  font-size: 24px;
  line-height: 160%;
}
.text {
  max-width: 1140px;
  margin: auto;
  text-align: center;
}
.text p {
  font-size: 24px;
  line-height: 160%;
}
.text p:first-child {
  margin-bottom: 38px;
  margin-top: 70px;
}
.profit .container {
  background-color: #1DB5D6;
}
.container .profit-wrapp {
  padding: 60px 0 70px 0;
}
.profit-wrapp ul {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
}
.profit-wrapp ul p {
  font-size: 24px;
  line-height: 140%;
  margin-top: 10px;
}
.partners-wrapp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 180px 0 180px 0;
}
.partners-wrapp h3 {
  max-width: 265px;
}
.partners-wrapp h3::before {
  content: "";
  display: block;
  width: 80px;
  height: 8px;
  background-color: #fff;
  background-image: url(../img/border.png);
  margin-bottom: 26px;
}
.team-wrapp h3 {
  text-align: center;
}
.team-wrapp h3::before {
  content: "";
  display: block;
  width: 80px;
  height: 8px;
  background-color: #fff;
  background-image: url(../img/border.png);
  margin-bottom: 26px;
  margin: auto;
}
.sl {
  max-width: 300px;
  margin: 20px auto;
  text-align: -webkit-center;
}
.sl .sl-text {
  margin-top: 25px;
}
.sl .sl-text h4 {
  margin-bottom: 5px;
}
.sl .sl-text span {
  font-size: 18px;
  line-height: 160%;
  color: #1DB5D6;
}
.responsibility-wrapp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 230px 0 310px 0;
  background-color: #181F22;
  color: #ffffff;
}
.responsibility-wrapp h3 {
  width: 400px;
}
.responsibility-wrapp h3::before {
  content: "";
  display: block;
  width: 80px;
  height: 8px;
  background-color: #fff;
  background-image: url(../img/border.png);
  margin-bottom: 26px;
}
.we ul li {
 display: flex;
 align-items: center;
 width: 400px;
 margin-top: 100px;
}
.we ul li:first-child {
  margin-top: 0;
}
.we ul li p {
  margin-left: 80px;
}
.info .section {
  padding: 300px 0 70px 0;
}
.info-wrapp {
  display: flex;
  justify-content: space-around;
}
.info-wrapp .left h3 {
  line-height: 120%;
  margin-bottom: 55px;
}
.info-wrapp .left h3::before {
  content: "";
  display: block;
  width: 80px;
  height: 8px;
  background-color: #fff;
  background-image: url(../img/border.png);
  margin-bottom: 26px;
}
.fast {
  margin-bottom: 65px;
}
.fast p {
  margin-bottom: 25px;
  font-size: 24px;
  max-width: 480px;
}
.social a {
border: 1px solid #181F22;
padding: 20px;
border-radius: 20px;
}
.social {
  display: flex;
}

.social p a:hover {
  border-color: #1DB5D6;
}
svg:hover {
  fill: #1DB5D6;
}
.social p {
  margin-top: 35px;
  margin-bottom: 35px;
}
.feisbook {
  margin: 0 35px 0 35px;
}
.feisbook a {
padding: 20px 25px;
}
.contact h4 {
  margin-bottom: 30px;
  line-height: 160%;
}
.contact p {
  display: grid;
  margin-bottom: 35px;
}
.contact p:last-child {
  margin-bottom: 40px;
}
.contact span {
  margin-bottom: 10px;
  font-weight: lighter;
}
.terms {
  display: flex;
  align-items: center;
}
.terms p {
  margin-left: 40px;
  max-width: 280px;
  font-weight: lighter;
}


/* Медиа выражения ВСЕГДА ВНИЗУ!!*/




@media screen and (max-width: 1600px) {
  .main-section {
    min-height: 800px;
  }
  .bg {
    height: 80%;
    background-position-y: bottom;
  }


}
